/* Google Fonts */

/*

@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans|Muli|Roboto|Playfair+Display:400,400i,700,700i&display=swap');
@import url(https://fonts.googleapis.com/css?family=Poppins:500); 

*/


/*------------- Whole Document---------------- */

.columns {display: flex; }

.center {text-align: center; }

body .main-container {
  max-width: 80% !important;
  /* margin-right: 0%; */
  /* margin-left: auto; */
}

body {
  background-color: #fff;
  color: #444;
/*  font-family: 'Verdana', Georgia, serif;
  font-family: 'Muli', Georgia, serif; 
  font-family: 'Poppins', Georgia, serif; */ 
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; 
  margin: 0;
  max-width: 100% !important;
  font-size: 16pt;
  font-weight:500;
  line-height:1.7em;
/*   padding-left: 3em; */ 
/*   padding-right: 3em; */ 
/*  text-align: justify; */ 
/*  text-justify: inter-word; */
} 

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}


p.comment {
background-color: #f7f5f5;
padding: 10px;
border: 1px solid black;
margin-left: 25px;
border-radius: 5px;
/*font-style: italic;*/
}


blockquote {
  /*background-color: #fdfcfc;*/
  border-left: 1px dotted #c6c6c6;
  padding: 0em 0em 0em 0.25em;
}



/*----------------- links ---------------------*/


a {
  color: #4e89bf;
}

a:hover {
 color: #396892; /* darker color when hovering */
}


/* --------LOGO, three options-------------*/

/*1: For logo immediately above TOC, use style rule below, otherwise comment out

#TOC::before {
  content: "";
  display: block;
  height: 200px;
  margin: 2.75em 20px 40px 20px;
  background-image: url("logo-black.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
} 
*/

/* 2: For logo above title in upper righthand corner, inline with Title and Author, use style rule below. Otherwise comment out*/

/*
#header.fluid-row::before {
  content: "";
  height: 150px;
  width: 150px;
  float: right;
  background-image: url("logo-black.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}*/


/* option 3 for a logo -- above title and author, when also used with logo.HTML before_body. use style rule below. otherwise comment out*/

/*
.upper-right-logo {
  margin-top: 20px;
  background-image: url("logo-black.png");
  height: 150px;
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}*/


/*----------------ADDING WHITE SPACE-------------*/


.title {
      margin-top: 2.75em !important;
      margin-bottom: 1.25em;
      font-variant: small-caps;
  }


.section h1 {
      margin-top: 1.8em !important;
      margin-bottom: 1.25em;
      font-variant: small-caps;
}

.section h2 {
  border-bottom: 3px solid #f7f7f7;
  padding-top: 1em !important;
  margin-bottom: 1em;
  font-variant: small-caps;
}

.section h3 {
  border-left: 3px double #c6c6c6;
  padding: 0.4em 0em 0.4em 0.25em !important;
  margin-top: 1.25em !important;
  margin-bottom: 0.8em;
  font-variant: small-caps;
}

.section h4,
.section h5 {
  padding-top: 0.5em !important;
  margin-bottom: 0.5em;
 /* font-variant: small-caps;*/
}




/* Space Between TOC and Righthand side content on large screens */

/* 
@media (min-width: 992px) {
  .col-md-9 {
    width: 75%;
    padding-left: 5em !important;
  }
}
*/

/* Remove excessive white space at the end of page */

.tocify-extend-page {
  height: 0px !important;
}


/*------------Table of Contents (TOC)----------- https://rstudio4edu.github.io/rstudio4edu-book/make-doc.html */


.tocify ul, .tocify li { 
        line-height: 25px !important;
    }

/*
.tocify ul {
  border-bottom: 1px solid  #d9d9d9;;
}
*/

 .tocify-header { 
  text-indent: initial;
 } 
 
.tocify-subheader > .tocify-item {
  text-indent: initial;
  padding-left: 1.5em;
}


/* Active/Hovered  TOC links*/

  .list-group-item.active,
  .list-group-item.active:hover,
  .list-group-item.active:focus {
  border-left: 3px inset rgba(168,168,168,0.3);
  background-color: #ffffff;
  color: black;
  font-weight: 700;
  }

/* Hovered TOC links*/

.list-group-item:hover {
  color: #787878;
  background-color: #ffffff;
  border: none;
}

    
#TOC::-webkit-scrollbar { 
    width: 4px;
}
#TOC::-webkit-scrollbar-track{
    background-color:#fff; 
    }
    
#TOC::-webkit-scrollbar-track:hover {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); 
}    
    
#TOC::-webkit-scrollbar-thumb{
    background: #c1c1c1;
    }
#TOC::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}     
 

/*-------------FOOTER-------------- */

.footer {
  font-size: .6em;
  text-transform: uppercase;
  color: #808080;
  text-align: center;
  width: 90%;
  margin: 3rem auto;
  font-weight: 300;
}

/* Divider line above footer */
.footer hr{
  margin-top: 7em;
  width: 100%;
}

/* rstudio4edu text link */
.rstudio4edu {
  color: #3fb5bd;
  font-family: "Lora";
  font-size: 1.25em;
  font-weight: 600;
  text-transform: none;
  text-decoration: none;
  display: inline-block;
}

.footer.logo {
  width: 40px;
  margin-right: 4px;
}










